<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DetekceZmenHTML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <DetekceZmenHTML.Properties.Settings>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.seznam.cz</value>
            </setting>
            <setting name="SmtpUsername" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SmtpUseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailPredmet" serializeAs="String">
                <value>Změna stránek DLP</value>
            </setting>
            <setting name="EmailObsah" serializeAs="String">
                <value>Došlo ke změně na stránkách DLP</value>
            </setting>
            <setting name="EmailAdresa" serializeAs="String">
                <value>j.cimler@seznam.cz</value>
            </setting>
            <setting name="UrlStranky" serializeAs="String">
                <value>https://opendata.sukl.cz/?q=katalog-otevrenych-dat</value>
            </setting>
            <setting name="NazevSouboruHTMLkUlozeni" serializeAs="String">
                <value>DLP.HTML</value>
            </setting>
        </DetekceZmenHTML.Properties.Settings>
    </applicationSettings>
</configuration>